<!-- Hero Section -->
 <section id="hero" class="hero section dark-background">

  <div id="hero-carousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <img src="/img/pagInicial/Lumiere (11).png" alt="" style="zoom: 80%; margin-top: 35px;">
      </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      </div>
    </div>
    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>

  <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
      <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3"></use>
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0"></use>
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9"></use>
    </g>
  </svg>

</section><!-- /Hero Section -->

<!-- About Section -->
<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Sobre a escola</h2>
    <p>Conheça mais sobre a Lumière!</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <p>
          Nossa escola é um ambiente acolhedor e desafiador, onde valorizamos a excelência acadêmica, o desenvolvimento integral e a formação de cidadãos éticos e responsáveis. Através de um currículo inovador e atividades extracurriculares diversificadas, nossos alunos são estimulados a explorar seus talentos e a construir um futuro promissor.
        </p>
        <ul>
          <li><i class="bi bi-check2-circle"></i> <span>Melhor infraestrutura da região.</span></li>
          <li><i class="bi bi-check2-circle"></i> <span>Professores qualificados e acolhedores.</span></li>
          <li><i class="bi bi-check2-circle"></i> <span>Melhores tecnologias para o aperfeiçoamento do aprendizado!</span></li>
        </ul>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <p>Oferecemos um ambiente de ensino dinâmico e conectado, com recursos digitais de última geração que estimulam a criatividade e a colaboração. Nossos alunos são preparados para os desafios do século XXI, desenvolvendo habilidades essenciais para o seu sucesso. Junte-se a nós e seja parte desta comunidade que molda líderes do amanhã!</p>
        <a href="#" class="read-more"><span>Seja Lumière!</span><i class="bi bi-arrow-right"></i></a>
      </div>

    </div>

  </div>

</section><!-- /About Section -->

<!-- Features Section -->
<section id="features" class="features section">

  <div class="container">

    <ul class="nav nav-tabs row  d-flex" data-aos="fade-up" data-aos-delay="100">
      <li class="nav-item col-3">
        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
          <i class="bi bi-binoculars"></i>
          <h4 class="d-none d-lg-block">Missão</h4>
        </a>
      </li>
      <li class="nav-item col-3">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
          <i class="bi bi-box-seam"></i>
          <h4 class="d-none d-lg-block">Visão</h4>
        </a>
      </li>
      <li class="nav-item col-3">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
          <i class="bi bi-brightness-high"></i>
          <h4 class="d-none d-lg-block">Valores</h4>
        </a>
      </li>
      <li class="nav-item col-3">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-4">
          <i class="bi bi-command"></i>
          <h4 class="d-none d-lg-block">Ensino Médio Lumière</h4>
        </a>
      </li>
    </ul><!-- End Tab Nav -->

    <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

      <div class="tab-pane fade active show" id="features-tab-1">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Inspirar e transformar um futuro onde cada pessoa tenha a oportunidade de alcançar seu máximo potencial.</h3>
            <p>
              Acreditamos na importância do desenvolvimento integral dos alunos. Além das disciplinas acadêmicas, oferecemos uma ampla gama de atividades extracurriculares, esportes e programas de liderança para nutrir os interesses e talentos individuais de cada aluno.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i>
                <spab>Educação de excelência;</spab>
              </li>
              <li><i class="bi bi-check2-all"></i> <span>Promoção de tecnologias inovadoras;</span>.</li>
              <li><i class="bi bi-check2-all"></i> <span>Preparar os alunos para serem agentes de transformação positiva na sociedade.
              </span></li>
            </ul>
            <p>
              Nossos programas acadêmicos são projetados para desafiar e inspirar nossos alunos a alcançarem seu máximo potencial. Com um corpo docente dedicado e recursos de última geração, oferecemos uma educação rigorosa que prepara os alunos para os desafios do mundo real.

            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="/img/pagInicial/Lumiere Exterior.jpg" alt="" class="img-fluid" style="width: 80%;">
          </div>
        </div>
      </div><!-- End Tab Content Item -->

      <div class="tab-pane fade" id="features-tab-2">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Ser reconhecida nacionalmente como um centro de excelência em educação, formando líderes inovadores e empreendedores capazes de transformar a sociedade e construir um futuro mais próspero e sustentável.</h3>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Espaços de troca de experiências e conhecimento entre os estudantess, incentivando a colaboração e a inovação.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Proporcionar acompanhamento individualizado para os professores, auxiliando-os no desenvolvimento de suas competências.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Estabelecer parcerias com empresas, universidades, instituições culturais e organizações sociais para enriquecer o processo educativo e promover a interação com o mundo real.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Criar um ambiente onde o feedback seja valorizado e utilizado para promover o crescimento individual e coletivo.</span></li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="/img/pagInicial/Lumiere Interior 2.jpg" alt="" class="img-fluid" style="width: 80%;">
          </div>
        </div>
      </div><!-- End Tab Content Item -->

      <div class="tab-pane fade" id="features-tab-3">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Curiosidade, criatividade, pensamento crítico, colaboração, persistência, autonomia, paixão pelo conhecimento e busca constante por aprimoramento. Esses valores impulsionam o desenvolvimento intelectual e a capacidade de aprender ao longo da vida.</h3>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Inclusão: Celebrar a diversidade e criar um ambiente acolhedor para todos, independentemente de suas origens, crenças ou habilidades.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Empatia: Colocar-se no lugar do outro e compreender suas perspectivas e sentimentos.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Integridade: Agir com honestidade, coerência e ética em todas as situações.</span></li>
            </ul>
            <p class="fst-italic">
              Ao definir e implementar valores abrangentes, a escola estará construindo uma base sólida para o futuro, formando cidadãos conscientes, críticos e preparados para enfrentar os desafios do mundo contemporâneo.
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="/img/pagInicial/Lumiere com alunos Interior.jpg" alt="" class="img-fluid" width="80%">
          </div>
        </div>
      </div><!-- End Tab Content Item -->

      <div class="tab-pane fade" id="features-tab-4">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Referência em Ensino</h3>
            <p>
              Na Escola Lumière, não ensinamos apenas disciplinas, e sim, cultivamos mentes brilhantes. Nosso foco vai além do currículo tradicional, buscando inspirar uma aprendizagem profunda e significativa.
            </p>
            <p>
              Nossos educadores são  orientando os alunos para explorar suas paixões e desafiar seus limites. Promovemos experiências práticas e colaborativas, preparando os jovens não apenas para os exames, mas para a vida.
            </p>
            <p>
              Na Escola Lumière, a educação é uma jornada de iluminação pessoal e acadêmica. Junte-se a nós e seja parte desta comunidade que molda líderes do amanhã.
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="/img/pagInicial/Lumiere Interior.jpg" alt="" class="img-fluid" width="80%">
          </div>
        </div>
      </div><!-- End Tab Content Item -->

    </div>

  </div>

</section><!-- /Features Section -->

<!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action section dark-background">

  <div class="container">

    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-xl-9 text-center text-xl-start">
        <h3>Agende uma visita!</h3>
        <p>Gostaria de saber mais sobre a Lumièe? Entre em contato conosco através do telefone [18 99123-1234] ou pelo e-mail agendamento@lumiere.com. Agende uma visita e conheça de perto tudo o que temos a oferecer!</p>
      </div>
      <div class="col-xl-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="https://www.whatsapp.com/?lang=pt_BR">Agende agora!</a>
      </div>
    </div>

  </div>

</section><!-- /Call To Action Section -->

<!-- Services Section -->
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Diferenciais</h2>
    <p>Tudo isso em uma única escola</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="bi bi-credit-card-2-front" style="color: #0dcaf0;"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Aprendizagem personalizado</h3>
          </a>
          <p>Cada aluno tem um ritmo e estilo de aprendizado único. A escola lumiére oferece atividades e recursos personalizados para atender às necessidades individuais.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-calendar4-week" style="color: #fd7e14;"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Integração de ferramentas digitais</h3>
          </a>
          <p>A escola lumiére utiliza plataformas online, aplicativos e softwares educativos para enriquecer o processo de ensino e aprendizagem.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-chat-text" style="color: #20c997;"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Salas de aula multifuncionais</h3>
          </a>
          <p>Os espaços são adaptados para diferentes tipos de atividades, estimulando a colaboração e a criatividade.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-cash-stack" style="color: #df1529;"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Investimento em formação</h3>
          </a>
          <p>A escola lumière oferece oportunidades de desenvolvimento profissional contínuo para seus professores, garantindo que eles estejam sempre atualizados.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-globe" style="color: #6610f2;"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Engajamento das famílias</h3>
          </a>
          <p>A escola Lumière envolvem as famílias no processo educativo, buscando a colaboração para o sucesso dos alunos.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-joystick" style="color: #f3268c;"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Gamificação:</h3>
          </a>
          <p> A gamificação utiliza elementos de jogos para tornar o aprendizado mais engajador e motivador.</p>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section><!-- /Services Section -->     
<!-- Recent Posts Section -->
<section id="recent-posts" class="recent-posts section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Posts recentes</h2>
    <p>Postagens do nosso blog<br></p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <article>

          <div class="post-img">
            <img src="/img/pagInicial/Olimpiada-do-conhecimento.png" alt="" class="img-fluid">
          </div>

          <p class="post-category">olimpiadas do conhecimento</p>

          <h2 class="title">
            <a href="blog.html">Neste mes nossa escola participou de 3 olimpiadas do conhecimento, no qual nossos estudantes foram premiados em todas as olimpiadas!</a>
          </h2>

          <div class="d-flex align-items-center">
            <img src="/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
              <p class="post-author">Maria Doe</p>
              <p class="post-date">
                <time datetime="2022-01-01">September 14, 2024</time>
              </p>
            </div>
          </div>

        </article>
      </div><!-- End post list item -->

      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <article>

          <div class="post-img">
            <img src="/img/pagInicial/esporte.avif" alt="" class="img-fluid">
          </div>

          <p class="post-category">Sports</p>

          <h2 class="title">
            <a href="blog.html">No mês de outubro, nossa escola irá participar de diversos torneiso esportivos da região, estamos ansiososo para os jogos!</a>
          </h2>

          <div class="d-flex align-items-center">
            <img src="/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
              <p class="post-author">Allisa Mayer</p>
              <p class="post-date">
                <time datetime="2022-01-01">September 5, 2024</time>
              </p>
            </div>
          </div>

        </article>
      </div><!-- End post list item -->

      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <article>

          <div class="post-img">
            <img src="img/pagInicial/ecad.jpg" alt="" class="img-fluid">
          </div>

          <p class="post-category"><br><br><br>Entertainment</p>

          <h2 class="title">
            <a href="blog.html">
              <br><br><br>Estou ansioso para o ECAD deste ano!
              
            </a>
          </h2>

          <div class="d-flex align-items-center">
            <img src="/img/pagInicial/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
              <p class="post-author">Mark Dower</p>
              <p class="post-date">
                <time datetime="2022-01-01">Jun 22, 2024</time>
              </p>
            </div>
          </div>

        </article>
      </div><!-- End post list item -->

    </div><!-- End recent posts list -->

  </div>

</section><!-- /Recent Posts Section -->

<!-- Contact Section -->
<section id="contact" class="contact section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contato</h2>
    <p>Entre em contato conosco!</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-4">
        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
          <i class="bi bi-geo-alt flex-shrink-0"></i>
          <div>
            <h3>Endereço</h3>
            <p>Jardim Esplanada</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-telephone flex-shrink-0"></i>
          <div>
            <h3>Telefone</h3>
            <p>+55 (18) 99123-1234</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-envelope flex-shrink-0"></i>
          <div>
            <h3>Email</h3>
            <p>agendamento@lumiere.com</p>
          </div>
        </div><!-- End Info Item -->

      </div>

      <div class="col-lg-8">
        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Seu nome" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Seu Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Tema do contato" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Mensagem" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message">Erro de servidor, tente novamente mais tarde!</div>
              <div class="sent-message">Sua mensagem foi enviada, agradecemos pelo interesse!</div>

              <button type="submit">Enviar mensagem</button>
            </div>

          </div>
        </form>
      </div><!-- End Contact Form -->

    </div>

  </div>

</section><!-- /Contact Section -->

</main>
