
<section class="page-title">
    <h2>Área Alunos</h2>
</section>

<section class="main-content">
    <div class="courses-container">
        <h3>Minhas Turmas</h3>
        <div class="course-list">
            <div class="course-item">
                <input type="radio" id="turma1" name="turmas">
                <label for="turma1">Disciplina  1</label>
                <span class="status">Cronograma: 0/0</span>
            </div>
            <div class="course-item">
                <input type="radio" id="turma2" name="turmas">
                <label for="turma2">Disciplina 2</label>
                <span class="status">Cronograma: 0/0</span>
            </div>
            <div class="course-item">
                <input type="radio" id="turma3" name="turmas">
                <label for="turma3">Disciplina 3</label>
                <span class="status">Cronograma: 0/0</span>
            </div>
            <div class="course-item">
                <input type="radio" id="turma3" name="turmas">
                <label for="turma3">Disciplina 4</label>
                <span class="status">Cronograma: 0/0</span>
            </div>
            <div class="course-item">
                <input type="radio" id="turma3" name="turmas">
                <label for="turma3">Disciplina 5</label>
                <span class="status">Cronograma: 0/0</span>
            </div>
        </div>
    </div>

    <div class="calendar-container">
        <h3>Calendario</h3>
        <div class="date-selectors">
            <select id="select-day"></select>
            <select id="select-month"></select>
            <select id="select-year"></select>
        </div>
        <table id="calendar-table">
            <thead>
                <tr>
                    <th>Dom</th>
                    <th>Seg</th>
                    <th>Ter</th>
                    <th>Qua</th>
                    <th>Qui</th>
                    <th>Sex</th>
                    <th>Sáb</th>
                </tr>
            </thead>
            <tbody id="calendar-body">
            </tbody>
        </table>
        <br>
        <button id="mostrar-esconder">Mostrar/Esconder Atividades</button>
    </div>
</section>

<script src="/js/scriptstelas.js"></script>

